body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#calculator {
    width: 320px;
}

#display {
    background-color: black;
    border-radius: 10px 10px 0 0;
    width: 320px;
    height: 80px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    box-sizing: border-box;
}

#displayValue {
    color: white;
    font-size: 30px;
    text-align: right;
    flex-grow: 1;
}

#pad {
    display: flex;
    flex-wrap: wrap;
}

.operators, .numbers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

button {
    width: 78px;
    height: 80px;
    font-size: 30px;
    border: 1px solid #A9A9A9;
    margin: 0;
}

.operator {
    background-color: #E7E7E7;
}

.number {
    background-color: #FFFFFF;
}

.equal {
    background-color: #FA8664;
    height: 320px; /* Spanning across 4 rows */
    border-radius: 10px;
}
